ldap_server ldap-anyone {
    # LDAP 認証を使う際はここに使用している LDAP サーバを記載してください
    url ldaps://your.ldap.server;
    require valid_user;
}

server {
    listen 80;
    # 自分の使用したい vhost 名を設定してください
    server_name default.example.com;

    location ~ {
        # {hostマシンのプライベートIP}:{ホストマシンに露出しているポート}
        proxy_pass http://127.0.0.1:10080;

        satisfy any;
        auth_ldap 'Authentication Required';
        auth_ldap_servers ldap-anyone;
    }
}

server {
    listen 443 ssl;
    # 自分の使用したい vhost 名を設定してください
    server_name default.example.com;

    ssl_certificate /etc/nginx/server.crt;
    ssl_certificate_key /etc/nginx/server.key;
    ssl_dhparam /etc/nginx/dhparam.pem;

    add_header Strict-Transport-Security max-age=15768000;

    location ~ {
        # {hostマシンのプライベートIP}:{ホストマシンに露出しているポート}
        proxy_pass https://127.0.0.1:10443;

        satisfy any;
        auth_ldap 'Authentication Required';
        auth_ldap_servers ldap-anyone;
    }
}
